@font-face {
    font-family: pixelFont;
    src: url(../fonts/Better\ VCR\ 6.1.ttf)
}
header{
    background-color: #0CC0DF;
}
.headerShadow{
    height: 1rem;
    background-color: #004BAD;
}
.tituloContainer{
    text-align: center;
    background-color: #0CC0DF;
    color: #121D46;
    border-radius: 2rem;
}
.jogosPopContainer{
    border-radius: 2.5rem;
    margin-bottom: 5rem;
    min-height: 32rem;
    height: 32rem;
}
.contentContainerIndex{
    background: linear-gradient(#121D46, #472BE0);
    min-height: 100vh;
}
.cardWrapper *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardWrapper{
    max-width: 1100px;
    margin: 15px 60px 35px;
    overflow: hidden;
}
.cardList .cardItem{
    list-style: none;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: 200ms ease;
}
.cardList .cardItem:hover {
    border-radius: 12px;
    border: 2px solid #472BE0;
    transition: 200ms ease;
}
.cardList .cardItem .ageRatingContainer {
    display: none;
}
.cardList .cardItem:hover .ageRatingContainer {
    display: flex;
}
.cardList .cardItem .cardLink{
    user-select: none;
    display: block;
    background-color: #FFF;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
}
.cardList .cardLink .cardImg{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #121D46;
}
.cardList .cardLink .cardTitle{
    margin-top: 12px;
    font-size: clamp(0.5rem, 0.9rem, 1.2rem);
    color: #000;
    font-weight: 600;
}
.explorarJogosContainer {
    background-color: #0CC0DF;
    border-radius: 2.5rem;
}
.explorarTitulo {
    background-color: #62ffff;
    color: #121D46;
    border-radius: 2.5rem;
}
.jogosContainerContent .cardList {
    margin: 2rem;
}
.cardLine {
    height: 16rem;
}
.swiper-pagination, .swiper-button-prev, .swiper-button-next{
    color:#62ffff;
}
.contentContainerLogin {
    min-height: 100vh;
    background: linear-gradient(#472BE0, #9e2be0, #e02b7c);
}
.loginWindowContainer * {
    font-family: pixelFont, sans-serif;
    color: #FFF;
}
.loginWindowContainer {
    border-radius: 20px;
}
.textInput {
    all: unset;
}
.usernameInputContainer, .passwordInputContainer {
    border: 3px solid #FFF;
    border-radius: 25px;
}
.usernameInput, .passwordInput {
    margin-left: 1rem;
    height: 2rem;
}
.iconContainer {
    all: unset;
}