header{
    background-color: #0CC0DF;
}
.headerShadow{
    height: 1rem;
    background-color: #004BAD;
}
.tituloContainer{
    text-align: center;
    background-color: #0CC0DF;
    color: #121D46;
    border-radius: 2rem;
}
.jogosPopContainer{
    border-radius: 2.5rem;
    background-color: #0CC0DF;
    box-shadow: 1rem 1.5rem #004BAD;
    margin-bottom: 5rem;
    min-height: 28rem;
}
.contentContainer{
    background: linear-gradient(#121D46, #472BE0);
    min-height: 100vh;
}
.cardWrapper *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardWrapper{
    max-width: 1100px;
    margin: 15px 60px 35px;
    overflow: hidden;
}
.cardList .cardItem{
    list-style: none;
}
.cardList .cardItem .cardLink{
    user-select: none;
    display: block;
    background-color: #FFF;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
}
.cardList .cardLink .cardImg{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #121D46;
}
.cardList .cardLink .cardTitle{
    margin-top: 12px;
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}
.explorarJogosContainer {
    background-color: #0CC0DF;
    border-radius: 2.5rem;
}
.explorarTitulo {
    background-color: #62ffff;
    color: #121D46;
    border-radius: 2.5rem;
}
.jogosContainerContent .cardList {
    margin: 2rem;
}
.cardLine {
    height: 16rem;
}